
<div class="container">
  <h3>
    <%= @question %>
  </h3>
  <p><i>-You</i></p>
</div>
<div class="container" style="background-color: #FFFEE1;">
  <h3>
    <%= @answer %>
  </h3>
  <p><i>-Your Coach</i></p>
</div>


<%= link_to "Ask another question", "ask"  %>
